:root {
    --white: #fff;
    --black: #000000;
    --primary-200: #474FFF;
    --secundary-500: #DBFFBF;
    --secundary-600: #FF6B00;
    --secundary-700: #EBBFFF;

    --wrapper: 90rem;
    /* 1440px */
    /* 1400px - ancho maximo del contenido*/
    --wrapper-padding: 1.5rem;
    /* 24px */
    /* 24px - padding (margenes internos, es decir, cuenta desde dentro del elementp) por defecto */
    --breakpoint-main: 52.5em;
    /* 840px */
    /* 840px - salto de responsive */
    --section-padding: 4rem;
}

.dot {
    filter: blur(90px);
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    height: 900px;
    background: var(--primary-200);
    border-radius: 100%;
    z-index: -1;
}

.sun {
    width: 850px;
    height: 850px;
    position: absolute;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 5s;
    top: 600px;
    left: 600px;
    z-index: -1;
}

.dot-secundary_500 {
    filter: blur(50px);
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 700px;
    background: var(--secundary-500);
    border-radius: 100%;
}

.sun-secundary_500 {
    width: 650px;
    height: 650px;
    position: absolute;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 5s;
    top: 1500px;
    left: -400px;
    z-index: -1;
}

.dot-secundary_600 {
    filter: blur(70px);
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    background: var(--secundary-600);
    border-radius: 100%;
}

.sun-secundary_600 {
    width: 750px;
    height: 750px;
    position: absolute;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 5s;
    top: 2500px;
    left: -200px;
    z-index: -1;
}

.dot-secundary_700 {
    filter: blur(70px);
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    background: var(--secundary-700);
    border-radius: 100%;
}

.sun-secundary_700 {
    width: 750px;
    height: 750px;
    position: absolute;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 5s;
    top: 3300px;
    left: 800px;
    z-index: -1;
}

@-webkit-keyframes orbit {
    from {
        -webkit-transform: rotate(0deg) scale(2)
    }

    to {
        -webkit-transform: rotate(360deg) scale(2)
    }
}


@font-face {
    font-family: "CanelaLight";
    src: local(CanelaLight),
        url("/assets/fonts/CanelaLight.woff2"),
        url("/assets/fonts/CanelaLight.woff");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

body {
    background-color: rgb(230, 227, 220);
    font-family: "work sans";
    font-weight: 200;
}

.font-secundary {
    font-family: "canelalight", "Noto Sans", sans-serif;
    font-weight: 100;
}
