:root {
    --white: #fff;
    --black: #000000;
    --grey: rgba(0, 0, 0, 0, 8);
    --background: #e6e3dc;
    --primary-200: #474fff;
    --secundary-500: #dbffbf;
    --secundary-600: #ff6b00;
    --secundary-700: #ebbfff;

    --wrapper: 90rem;
    /* 1440px */
    /* 1400px - ancho maximo del contenido*/
    --wrapper-padding: 10rem;
    /* 24px */
    /* 24px - padding (margenes internos, es decir, cuenta desde dentro del elementp) por defecto */

    /* --breakpoint-main: 52.5em;
    /* 840px */
    /* 840px - salto de responsive */

    --section-padding: 4rem;

    --mobile-breakpoint: 700px;
}

/* MAIN ////////////////////////////////////////////////////////// MAIN */

.main {
    padding: 0 calc(var(--wrapper-padding) / 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main>div {
    position: relative;
}

html {
    background-color: rgb(230, 227, 220);
    font-family: "work sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 16px;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}

main {
    width: min(calc(1200px + var(--wrapper-padding)), 100vw);
    margin: auto;
    padding: 0 var(--wrapper-padding);
}

body {
    margin: 0;
    overflow-x: hidden;
}

* {
    scroll-behavior: smooth;
    color: #fff;
    text-decoration: none;
}

.typewrite .wrap {
    border: 0 !important;
}

a {
    color: inherit;
    text-decoration: none;
}

/* TYPE ////////////////////////////////////////////////////////// TYPE */

body>span {
    font-family: "canela light", serif;
    font-weight: 100;
    font-size: 16px;
}

h1 {
    font-family: "canelalight", serif;
    font-weight: 100;
    font-size: 8.525rem;
    color: var(--white);
}

h2 {
    font-family: "canelalight", serif;
    font-weight: 100;
    font-size: 7.27rem;
    color: var(--black);
    /* line-height: 1.1; */
}

h3 {
    font-family: "work sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 5.37rem;
    color: var(--white);
}

h4 {
    font-family: "work sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 3.76rem;
    color: var(--white);
}

h4>span {
    font-family: "canelalight", serif;
    font-weight: 100;
    font-size: 3.76rem;
    color: var(--white);
}

.serif-h4-span {
    font-family: "canelalight", serif;
    font-weight: 100;
    font-size: 3.76rem;
    color: var(--black);
    padding: 1rem;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.serif-bodylarge {
    font-family: "canelalight", serif;
    font-weight: 100;
    font-size: 1.82rem;
    color: var(--white);
}

.sans-bodylarge {
    font-family: "work sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 2.22rem;
    color: var(--white);
}

.sans-bodylarge-black {
    font-family: "work sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 2.62rem;
    color: var(--black);
}

.sans-bodymedium {
    font-family: "work sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 1.32rem;
    color: var(--white);
}

.serif {
    font-family: "canelalight", serif;
    font-weight: 100;
    color: var(--white);
}

@font-face {
    font-family: "CanelaLight";
    src: local(CanelaLight), url("/assets/fonts/CanelaLight.woff2"),
        url("/assets/fonts/CanelaLight.woff");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

/* NAV ////////////////////////////////////////////////////////// NAV */

nav {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    background: linear-gradient(to bottom, #e6e3dc, #ff6a0000);
    padding: 3rem 5rem;
}

nav>ul {
    display: flex;
    flex-direction: row;
    align-items: right;
    gap: 80px;
}

li {
    list-style-type: none;
}

.hover-nav-animation {
    color: var(--black);
}

.hover-underline-animation-nav {
    display: inline-block;
    position: relative;
    color: var(--black);
}

.hover-underline-animation-nav:after {
    content: "";
    position: absolute;
    width: 103%;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation-nav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* PROJECTS ////////////////////////////////////////////////////////// PROJECTS */

.projects {
    position: relative;
}

.projects img {
    position: absolute;
    height: 85vh;
    top: calc(50% + 30px);
    left: 0;
    transform: translate(-50%, -50%);
}

.img__mobile {
    display: none;
}

.projects ul {
    display: grid;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.projects__item {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    will-change: opacity;
}

.projects__item.dimmed {
    opacity: 0.2;
}

.projects,
.contact {
    justify-content: end;
    text-align: end;
    padding: 0 calc(var(--wrapper-padding) / 2);
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
}

/* ABOUT ////////////////////////////////////////////////////////// ABOUT */

.about {
    padding: 0 calc(var(--wrapper-padding) / 1.5);
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

/* CONTACT ////////////////////////////////////////////////////////// CONTACT */

.contact {
    padding: 0 calc(var(--wrapper-padding) / 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.scroll_down {
    width: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -70px;
    right: -30vw;
}


/* FOOTER ////////////////////////////////////////////////////////// FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(to top, #e6e3dc, #ff6a0000);
    padding: 3rem 5rem;
}

footer * {

    color: black;

}

/* HOVER ANIMATION //////////////////////////////////////////// HOVER ANIMATION */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--black);
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 1rem;
    left: 0;
    background-color: var(--black);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.animation {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* SUN ////////////////////////////////////////////////// SUN */

.dot {
    filter: blur(3vw);
    position: absolute;
    top: 0;
    left: 0;
    width: max(40vw, 800px);
    height: max(40vw, 800px);
    background: var(--primary-200);
    border-radius: 100%;
    z-index: -1;
}

.sun {
    width: max(40vw, 750px);
    height: max(40vw, 750px);
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 10s;
    top: 12vw;
    left: 30vw;
    z-index: -1;
}

.dot-secundary_500 {
    filter: blur(50px);
    position: absolute;
    top: 0;
    left: 0;
    width: 650px;
    height: 650px;
    background: var(--secundary-500);
    border-radius: 100%;
}

.sun-secundary_500 {
    width: 625px;
    height: 625px;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 5s;
    top: 1050px;
    right: 100px;
    z-index: -1;
}

.dot-secundary_600 {
    filter: blur(70px);
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    background: var(--secundary-600);
    border-radius: 100%;
}

.sun-secundary_600 {
    width: 580px;
    height: 580px;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 5s;
    top: 2100px;
    left: 250px;
    z-index: -1;
}

.dot-secundary_700 {
    filter: blur(70px);
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    background: var(--secundary-700);
    border-radius: 100%;
}

.sun-secundary_700 {
    width: 750px;
    height: 750px;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 5s;
    top: 3300px;
    left: 800px;
    z-index: -1;
}

@keyframes orbit {
    0% {
        transform: rotate(0deg) scale(1.8);
    }

    50% {
        transform: rotate(180deg) scale(2);
    }

    100% {
        transform: rotate(360deg) scale(1.8);
    }
}

/* RESPONSIVE //////////////////////////////////////////// RESPONSIVE */

@media (max-width: 750px) {
    :root {
        --wrapper-padding: 3rem;
    }

    main {
        /* width: min(calc(1200px + var(--wrapper-padding)), 100vw);
        margin: auto; */
        padding: 0;
    }

    /* NAV MOBILE //////////////////////////////////////////// NAV MOBILE */

    nav>ul {
        display: none;
    }

    nav {
        /* width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed; */
        height: 10rem;
        background: linear-gradient(to bottom, #e6e3dc, #ff6a0000);
        padding: 3rem 3rem;
    }

    .scroll_down {
        width: 200px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* TYPE MOBILE //////////////////////////////////////////// TYPE MOBILE */

    html,
    body>span {
        font-size: 14px;
    }

    h1 {
        font-size: 4.375rem;
    }

    h2 {
        font-size: 3.125rem;
    }

    h3,
    h4,
    h4>span,
    .serif-h4-span {
        font-size: 2.375rem;
    }

    .serif-bodylarge {
        font-size: 1.82rem;
    }

    .sans-bodylarge {
        font-size: 2.22rem;
    }

    .sans-bodylarge-black {
        font-size: 2.62rem;
    }

    .sans-bodymedium {
        font-size: 1.32rem;
    }

    /* PROJECTS MOBILE /////////////////////////////////// PROJECTS MOBILE */

    .projects img {
        position: absolute;
        height: 30vh;
        top: calc(50% + 30px);
        left: 0;
        transform: translate(-50%, -50%);
    }

    section {
        height: 100vh;
        display: flex;
        align-items: end;
    }

    .travel__beyond-mobile {
        left: 0;
    }

    .travel__beyond-desktop {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }

    .img__mobile {
        display: flex;
    }

    /* SUN MOBILE //////////////////////////////////////////// SUN MOBILE */

    .dot {
        filter: blur(10vw);
        position: absolute;
        top: 0;
        left: 0;
        width: max(10vw, 350px);
        height: max(10vw, 350px);
        background: var(--primary-200);
        border-radius: 100%;
        z-index: -1;
    }

    .sun {
        width: max(10vw, 340px);
        height: max(10vw, 340px);
        position: absolute;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: orbit;
        animation-duration: 10s;
        top: 80vw;
        left: -20vw;
        z-index: -1;
    }

    .dot-secundary_500 {
        filter: blur(8vw);
        position: absolute;
        top: 0;
        left: 0;
        width: max(10vw, 300px);
        height: max(10vw, 300px);
        background: var(--secundary-500);
        border-radius: 100%;
    }

    .sun-secundary_500 {
        width: max(10vw, 290px);
        height: max(10vw, 290px);
        position: absolute;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: orbit;
        animation-duration: 5s;
        top: 230vw;
        left: 50vw;
        z-index: -1;
    }

    /* .dot-secundary_500_2 {
        filter: blur(10vw);
        position: absolute;
        top: 0;
        left: 0;
        width: max(10vw, 350px);
        height: max(10vw, 350px);
        background: var(--secundary-500);
        border-radius: 100%;
    }

    .sun-secundary_500_2 {
        width: max(10vw, 340px);
        height: max(10vw, 340px);
        position: absolute;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: orbit;
        animation-duration: 5s;
        top: 250vw;
        left: 50vw;
        z-index: -1;
    } */

    .dot-secundary_600 {
        filter: blur(70px);
        position: absolute;
        top: 0;
        left: 0;
        width: 600px;
        height: 600px;
        background: var(--secundary-600);
        border-radius: 100%;
    }

    .sun-secundary_600 {
        width: 580px;
        height: 580px;
        position: absolute;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: orbit;
        animation-duration: 5s;
        top: 2100px;
        left: 250px;
        z-index: -1;
    }

    .dot-secundary_700 {
        filter: blur(70px);
        position: absolute;
        top: 0;
        left: 0;
        width: 800px;
        height: 800px;
        background: var(--secundary-700);
        border-radius: 100%;
    }

    .sun-secundary_700 {
        width: 750px;
        height: 750px;
        position: absolute;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: orbit;
        animation-duration: 5s;
        top: 3300px;
        left: 800px;
        z-index: -1;
    }
}
